body{
  margin: 0;
}

@media (max-width:600px) {
  #container {
    width: 100vw;
    margin: 0;
  }
}

#container {
  width: 600px;
  height: 100vh;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

#chatbox {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#form {
  padding: 10px;
  box-sizing: border-box;
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
}

#userMessage {
  width: 80%;
  float: left;
}

#submitButton {
  float: right;
}

.bubble {
  padding: 5px 10px;
}

.chatbot {
  background-color: lightgrey;
}

.user {
  background-color: rgb(216, 235, 241);
}

.username {
  font-weight: bold;
}